.biaoti {
    width: 1006px;
    border: 1px solid #cccccc;
    margin-top: 7px;
}

.biaoti-top {
    height: 29px;
    background-image: url(../images/b17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

    .biaoti-top p {
        line-height: 29px;
        padding-left: 15px;
        color: #5d5d5d;
    }

        .biaoti-top p a:link, .biaoti-top p a:visited {
            color: #5d5d5d;
            text-decoration: none;
            font-weight: bold;
        }

        .biaoti-top p a:hover {
            color: #156ebe;
            text-decoration: none;
            font-weight: bold;
        }



.biaoti-buttom {
    width: 1006px;
}

    .biaoti-buttom ul {
        list-style: none;
        margin: 8px 15px;
    }

    .biaoti-buttom li {
        line-height: 35px;
        margin: 0px 151px 0px 0px;
        display: inline;
        width: 358px;
    }

        .biaoti-buttom li span {
            font-weight: bold;
            text-align: left;
        }

.kuang2 {
    width: 718px;
    border: 1px solid #cccccc;
    margin-top: 10px;
}

.kuang2-top {
    height: 29px;
    width: 718px;
    background-image: url(../images/b17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

    .kuang2-top p {
        line-height: 29px;
        height: 29px;
        border-right: 1px solid #cccccc;
        margin: 0px;
        padding: 0px 20px 0px;
        display: inline-block;
        *float: left;
    }

        .kuang2-top p a:link, .kuang2-top p a:visited, .kuang2-top p a:hover {
            color: #333333;
            text-decoration: none;
        }

        .kuang2-top p.bai {
            background-color: #FFF;
        }

.kuang2-buttom {
    width: 718px;
    *width: 687px;
    padding: 6px 14px;
}

    .kuang2-buttom a:link, .kuang2-buttom a:visited {
        color: #404040;
        text-decoration: none;
    }

    .kuang2-buttom a:hover {
        color: #156ebe;
        text-decoration: none;
    }

    .kuang2-buttom ul {
        list-style: none;
        margin-left: 6px;
    }

    .kuang2-buttom li {
        line-height: 30px;
        border-bottom: 1px solid #ebebeb;
        display: inline-block;
    }

        .kuang2-buttom li a:link, .kuang2-buttom li a:visited {
            color: #646a74;
            text-decoration: none;
        }

        .kuang2-buttom li a:hover {
            color: #156fbf;
            text-decoration: none;
        }

        .kuang2-buttom li span.zuobian2 {
            width: 600px;
            height: 30px;
            display: block;
            overflow: hidden;
            float: left;
            margin-right: 5px;
            padding-right: 8px;
        }

        .kuang2-buttom li span.youbian2 {
            float: right;
        }

.djgm_sx_xia {
    clear: both;
    text-align: center;
    margin: 15px 0px 0px 0px;
    _margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
}

    .djgm_sx_xia p {
        line-height: 25px;
    }

    .djgm_sx_xia a {
        margin: 0px 5px;
    }

    .djgm_sx_xia p a:link, .djgm_sx_xia p a:visited, .djgm_sx_xia p a:hover {
        color: #424242;
        text-decoration: none;
        line-height: 25px;
        padding: 4px 8px;
    }

    .djgm_sx_xia span {
        color: #424242;
        text-decoration: none;
        line-height: 20px;
        padding: 4px 8px;
        color: #FFF;
        background-color: #156ebe;
    }

.anniu01 {
    color: #7c7c7c;
    background-color: #FFFFFF;
    background-image: url(../images/search_01.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
    width: 58px;
    padding-left: 8px;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.anniu02 {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/search_02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
    width: 58px;
    padding-right: 8px;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.huise4 {
    color: #999999;
}
/**高级是搜索start**/
.table_text5 {
    width: 320px;
    line-height: 17px;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
}

.gray_peisong {
    color: #F00;
}

.wddd_td6 {
    width: 238px;
    text-align: center;
    padding: 5px;
}

.wddd_td_peisong3 {
    width: 280px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    line-height: 18px;
    vertical-align: middle;
}

.wddd_td_pei8 {
    width: 90px;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.mimaxiugai_peisong {
    padding-top: 0px;
}

.mimaxiugai_peisong_top {
    line-height: 50px;
}

.mimaxiugai_peisong3 P {
    line-height: 50px;
}

    .mimaxiugai_peisong3 P a:link, .mimaxiugai_peisong3 P a:visited, .mimaxiugai_peisong3 P a:hover {
        color: #F00;
        text-decoration: none;
        padding-left: 8px;
    }

.peisong_kuang {
    border: 0px;
}

.mimaxiugai_border_right01 {
    text-align: right;
    width: 120px;
    line-height: 20px;
}

    .mimaxiugai_border_right01 span {
        color: #F00;
    }

.mimaxiugai_border_left01 {
    text-align: left;
}

mimaxiugai_border_biankuang01 {
    text-align: left;
    display: block;
}

.mimaxiugai_border_biankuang01 P {
    border: 1px solid #cccccc;
    background-color: #ffe3cc;
    text-align: left;
    line-height: 20px;
    overflow: hidden;
}

.mimaxiugai_border01 {
    margin: 0px 0px 10px;
}

.mimaxiugai .border6 {
    border: 1px solid #CCC;
    line-height: 20px;
    width: 170px;
    height: 20px;
    margin: 4px 0px;
}

.peisong_xiala {
    border: 1px solid #CCC;
    width: 59px;
    height: 20px;
    margin-right: 5px;
}

.peisong_kuang4 {
    border: #F00 solid;
}

.peisong_anniu {
    padding-left: 200px;
}

.peisong_zi {
    text-align: left;
    padding-left: 18px;
}

.peisong_zi_left {
    text-align: left;
    padding-left: 90px;
}

.peisong_dianhua {
    text-align: left;
    padding-left: 10px;
}

.peisong_zi_chaozuo {
    text-align: left;
    padding-left: 110px;
    padding-left: 110px\9;
    *padding-left: 30px;
}

.wddd_td_gaodu {
    height: 10px;
}

.soukuanren {
    border: 0px;
    margin-top: 15px;
    line-height: 60px;
}

.gao_peisong {
    height: 15px;
}

.xuxian_middle {
    border-top: 1px dashed #CCC;
    margin-top: 50px;
}

.border6 {
    border: 1px solid #CCC;
    line-height: 20px;
    width: 170px;
    height: 20px;
    margin: 4px 0px;
}

.btn {
    width: 98px;
    height: 34px;
    border: none;
    background: url(../images/user_box_btn.jpg);
    line-height: 24px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
}
/**高级是搜索end**/

.wenzi8 {
    width: 1006px;
    *width: 975px;
    padding: 6px 14px;
}

    .wenzi8 h2 {
        color: #ff954f;
        font-size: 12px;
        font-weight: bolder;
        line-height: 23px;
        padding-right: 25px;
        padding-left: 5px;
    }

    .wenzi8 p {
        line-height: 23px;
        padding-left: 17px;
        padding-right: 25px;
        padding-left: 5px;
    }






.kuang3 {
    width: 1006px;
    border: 1px solid #cccccc;
    margin-top: 10px;
}

.kuang3-top {
    height: 29px;
    width: 1006px;
    background-image: url(../images/b17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

    .kuang3-top p {
        line-height: 29px;
        height: 29px;
        border-right: 1px solid #cccccc;
        margin: 0px;
        padding: 0px 20px 0px;
        display: inline-block;
        *float: left;
    }

        .kuang3-top p a:link, .kuang3-top p a:visited, .kuang3-top p a:hover {
            color: #333333;
            text-decoration: none;
        }

        .kuang3-top p.bai {
            background-color: #FFF;
        }


.wenzhang2 {
    width: 940px;
    margin-left: 35px;
    _margin-left: 5px;
    _padding-left: 21px;
    color: #333333;
    text-align: center;
}

    .wenzhang2 img {
        text-align: center;
        display: inline-block;
        margin: 15px;
        clear: both;
    }

    .wenzhang2 h4 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 30px 0px 14px;
        padding-left: 28px;
    }

    .wenzhang2 h5 {
        text-align: center;
        margin: 10px 0px;
        color: #666666;
        font-weight: normal;
        font-size: 12px;
    }

    .wenzhang2 p {
        text-align: left;
        line-height: 25px;
    }

    .wenzhang2 h6 {
        text-align: left;
        margin: 60px 35px 50px 35px;
        *margin: 90px 35px 50px 35px;
        line-height: 25px;
        font-weight: normal;
        font-size: 12px;
    }

        .wenzhang2 h6 a:link, .wenzhang2 h6 a:visited, .wenzhang2 h6 a:hover {
            color: #164b6d;
            text-decoration: none;
        }

.wenzhang2_sx {
    width: 600px;
    clear: both;
    padding-bottom: 18px;
    margin: 50px 0px 20px;
    text-align: left;
}

.wenzhang2_sx-left {
    display: block;
    margin: 3px 4px;
    line-height: 25px;
    font-weight: normal;
    width: 500px;
    overflow: hidden;
    font-size: 12px;
    color: #808080;
    height: 25px;
    text-align: left;
}

.wenzhang2_sx-right {
    display: block;
    margin: 3px 4px;
    line-height: 25px;
    font-weight: normal;
    width: 500px;
    overflow: hidden;
    font-size: 12px;
    color: #808080;
    text-align: left;
    height: 25px;
}

    .wenzhang2_sx-left a:link, .wenzhang2_sx-left a:visited, .wenzhang2_sx-right a:link, .wenzhang2_sx-right a:visited {
        color: #808080;
        text-decoration: none;
    }

    .wenzhang2_sx-right a:hover, .wenzhang2_sx-left a:hover {
        color: #005ca8;
        text-decoration: none;
    }

.anniu033 {
    color: #7c7c7c;
    background-color: #FFFFFF;
    background-image: url(../images/32.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 23px;
    width: 56px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin-top: 3px;
}

.anniu001 {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/search_002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
    width: 58px;
    padding-left: 8px;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.anniu002 {
    color: #7c7c7c;
    background-color: #FFFFFF;
    background-image: url(../images/search_001.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
    width: 58px;
    padding-right: 8px;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.kuangDetails {
    width: 100%;
    padding: 6px 14px;
}

    .kuangDetailsa:link, .kuangDetails a:visited {
        color: #404040;
        text-decoration: none;
    }

    .kuangDetails a:hover {
        color: #156ebe;
        text-decoration: none;
    }

    .kuangDetails ul {
        list-style: none;
        margin-left: 6px;
    }

    .kuangDetails li {
        line-height: 30px;
        border-bottom: 1px solid #ebebeb;
        display: inline-block;
    }

        .kuangDetails li a:link, .kuangDetails li a:visited {
            color: #646a74;
            text-decoration: none;
        }

        .kuangDetails li a:hover {
            color: #156fbf;
            text-decoration: none;
        }

        .kuangDetails li span.zuobian2 {
            width: 850px;
            height: 30px;
            display: block;
            overflow: hidden;
            float: left;
            margin-right: 5px;
            padding-right: 8px;
        }

        .kuangDetails li span.youbian2 {
            float: right;
        }

/*....................资源包列表.....................*/
.resPack {
    width: 650px;
    *width: 600px;
    padding: 6px 14px;
}

    .resPacka:link, .resPack a:visited {
        color: #404040;
        text-decoration: none;
    }

    .resPack a:hover {
        color: #156ebe;
        text-decoration: none;
    }

    .resPack ul {
        list-style: none;
        margin-left: 6px;
    }

    .resPack li {
        line-height: 30px;
        border-bottom: 1px solid #ebebeb;
        display: inline-block;
    }

        .resPack li a:link, .resPack li a:visited {
            color: #646a74;
            text-decoration: none;
        }

        .resPack li a:hover {
            color: #156fbf;
            text-decoration: none;
        }

        .resPack li span.zuobian2 {
            width: 500px;
            height: 30px;
            display: block;
            overflow: hidden;
            float: left;
            margin-right: 5px;
            padding-right: 8px;
        }

        .resPack li span.youbian2 {
            float: right;
        }
