﻿.head {
    height: 22px;
    line-height: 22px;
}

.head-left {
    width: 50%;
    float: left;
    height: 22px;
    line-height: 22px;
}

    .head-left ul {
        list-style: none;
        height: 22px;
        line-height: 22px;
        padding-right: 20px;
    }

    .head-left li {
        line-height: 22px;
        float: left;
        text-align: left;
    }

.head-right {
    width: 50%;
    float: left;
    height: 22px;
    line-height: 22px;
}

    .head-right ul {
        list-style: none;
        height: 22px;
        line-height: 22px;
        padding-right: 20px;
    }

    .head-right li {
        line-height: 22px;
        float: right;
        text-align: right;
        margin-left: 16px;
    }

        .head-right li a:link, .head-right li a:visited {
            text-decoration: none;
            color: #156fbf;
        }

        .head-right li a:hover {
            color: #156fbf;
            text-decoration: none;
        }
