﻿body, html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0;
    overflow: hidden;
}

.l-link {
    display: block;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    color: #333;
    text-decoration: none;
}

.l-link2 {
    text-decoration: underline;
    margin-left: 2px;
    margin-right: 2px;
}

.l-layout-top {
    background: #102A49;
    color: White;
}

.l-layout-bottom {
    background: #E5EDEF;
    text-align: center;
}

#pageloading {
    position: absolute;
    left: 0px;
    top: 0px;
    background: white url('loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.l-link {
    display: block;
    line-height: 22px;
    height: 22px;
    padding-left: 16px;
    margin: 4px;
    color: #333;
}

.l-link-over {
    background: #FFEEAC;
    border: 1px solid #DB9F00;
}

.l-winbar {
    background: #2B5A76;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
}

.space {
    color: #E7E7E7;
}
/* 顶部 */
.l-topmenu {
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    position: relative;
    border-top: 1px solid #1D438B;
}

.l-topmenu-logo {
    padding-left: 35px;
    line-height: 26px;
    font-size: 16px;
}

.l-topmenu-welcome {
    position: absolute;
    height: 24px;
    line-height: 24px;
    right: 30px;
    top: 2px;
}

    .l-topmenu-welcome a {
        text-decoration: none;
    }

.body-gray2014 #framecenter {
    margin-top: 3px;
}

.viewsourcelink {
    background: #B3D9F7;
    display: block;
    position: absolute;
    right: 10px;
    top: 3px;
    padding: 6px 4px;
    color: #333;
    text-decoration: underline;
}

.viewsourcelink-over {
    background: #81C0F2;
}

.l-topmenu-welcome label {
    color: white;
}

#skinSelect {
    margin-right: 6px;
}
