﻿body {
    margin: 0px;
    background: url(../Images/lgbg.png) repeat-x;
    font-family: Verdana, Geneva, sans-serif;
}

table {
    empty-cells: show;
    border-collapse: collapse;
}

a {
    color: #005eac;
    text-decoration: none;
}

    a:visited, a:active {
        color: #005eac;
    }

    a:hover {
        color: #ff5500;
    }

img {
    border: 0px;
    vertical-align: middle;
}

h1 {
    font-size: 14px;
}

.w250 {
    width: 250px;
}

.w380 {
    width: 380px;
}

.wh380 {
    width: 380px;
    height: 50px;
}

.submit {
    background: url(../Images/button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}

.input {
    padding: 0px 3px;
    border: 1px solid #d1d1d1;
    background: url(../Images/input_bg.jpg) repeat-x;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}

.textarea {
    padding: 3px;
    border: 1px solid #d1d1d1;
    background: url(../Images/input_bg.jpg) repeat-x;
    font-size: 12px;
    color: #999;
}

.focus {
    border: 1px solid #FC0 !important;
    background: url(../Images/focus_bg.jpg) repeat-x !important;
    color: #00F !important;
}

.select {
    padding: 1px;
    border: 1px solid #CDCDCD;
    background: #FDFEEF;
}

.keyword {
    border: 1px solid #CDCDCD;
    background: #FDFEEF;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.login_input1 {
    padding-left: 20px;
    font-size: 12px;
    width: 121px;
    height: 21px;
    line-height: 21px;
    _width: 120px;
    _height: 20px;
    _line-height: 20px;
    background: url(../Images/input_bg.png);
}

.login_input2 {
    padding-left: 20px;
    font-size: 12px;
    width: 121px;
    height: 20px;
    line-height: 20px;
    _width: 120px;
    _height: 19px;
    _line-height: 19px;
    background: url(../Images/input_bg2.png);
}

.login_input3 {
    font-size: 12px;
    width: 75px;
    height: 20px;
    line-height: 20px;
    _width: 75px;
    _height: 19px;
    _line-height: 19px;
    background: url(../Images/input_bg3.png);
}

#login_bg {
    margin: 0 auto;
    width: 100%;
    height: 665px;
    text-align: center;
}

#login_body {
    width: 100%;
    padding-top: 200px;
    text-align: center;
    background: url(../Images/bg_lg.png) repeat-x;
}

#login_div {
    background: url(../Images/lgbg_dv.png) no-repeat;
    width: 411px;
    height: 293px;
    color: #fff;
}

.login_btn {
    margin: 10px 0 0 20px;
    _margin-left: 0px;
}

#login_form_div {
    margin-left: 10px;
    line-height: 26px;
    padding-top: 10px;
}

    #login_form_div table {
        padding: 20px;
        font-size: 14px;
        line-height: 26px;
        width: 354px;
    }

.tipbox {
    font-size: 12px;
    color: #F00;
    line-height: 26px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.spClear {
    clear: both;
    height: 10px;
}

.mouse {
    cursor: pointer;
}

#login_footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #236caa;
}

#login_botbg {
    background: url(../Images/login_botbg.png) repeat-x left bottom;
    height: 183px;
}
