﻿.submit {
    background: url(../Resource/Images/button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}

body {
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

.input {
    padding: 0px 3px;
    border: 1px solid #d1d1d1;
    background: url(../Resource/Images/input_bg.jpg) repeat-x;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    color: #999;
}
