﻿body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}

form {
    margin: 0px;
    display: inline;
}

/*--------------------------只读样式begin--------------------------------------*/
.asLabel .mini-textbox-input, .asLabel .mini-buttonedit-border, .asLabel .mini-buttonedit-input, .asLabel .mini-textboxlist-border {
    background: none;
    cursor: default;
    background-color: #e8e9ec;
}

.asLabel .mini-buttonedit-button, .asLabel .mini-textboxlist-close {
    display: none;
}

.asLabel .mini-textboxlist-item {
    padding-right: 8px;
}

.asLabel .mini-placeholder-label {
    display: none;
}
/*--------------------------只读样式end--------------------------------------*/

/**----------------------form布局begin----------------------*/
form tr {
    height: 25px;
}

form td {
    text-align: right;
}

form .basediv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

form fieldset {
    padding-top: 15px;
}
/*----------------------form布局End----------------------*/

/*----------------------form内容样式begin----------------------*/
.formDiv {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .formDiv fieldset {
        border: solid 1px #aaaaaa;
    }

        .formDiv fieldset legend {
            font-weight: bold;
        }

        .formDiv fieldset table {
            width: 100%;
            border: 0px;
            padding: 0px;
            margin: 2px;
        }

.hideRow {
    height: 1px;
}

#btnDiv {
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: #d3d3d3;
}

    #btnDiv table {
        width: 100%;
        padding: 0px;
    }

    #btnDiv #btnRight {
        text-align: right;
        white-space: nowrap;
    }
/*----------------------form内容样式End----------------------*/

/*----------------------查询框样式begin----------------------*/
.queryDiv table {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.queryDiv div {
    text-align: center;
    padding: 10px;
}

/*----------------------查询框样式End----------------------*/

/*-------grid row button----------------------------------*/
.icon-row-remove, .icon-row-view {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: auto;
    background: url(./icons/noimage.gif) no-repeat;
    text-align: center;
    display: block;
    cursor: hand;
}

.icon-row-remove {
    background: url(./icons/remove.gif) no-repeat;
}

.icon-row-download {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: auto;
    background: url(./icons/download.gif) no-repeat;
    text-align: center;
    display: block;
    cursor: hand;
}

.icon-row-upload {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: auto;
    background: url(./icons/upload.gif) no-repeat;
    text-align: center;
    display: block;
    cursor: hand;
}

.icon-row-edit {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: auto;
    background: url(./icons/edit.gif) no-repeat;
    text-align: center;
    display: block;
    cursor: hand;
}
/*-------grid row button end----------------------------------*/

/*-------项目管理扩展图标,大小写敏感 begin-------------------------------------*/
.Project {
    background: url(icons/project.gif) no-repeat;
}

.SubProject {
    background: url(icons/subproject.gif) no-repeat;
}

.Major {
    background: url(icons/major.gif) no-repeat;
}

.Package {
    background: url(icons/Package.gif) no-repeat;
}
/*------项目管理扩展图标end--------------------------------------------------*/

/*------icon 扩展------------------------------*/
.icon-copy {
    background: url(icons/copy.gif) no-repeat;
}

.icon-set {
    background: url(icons/set.gif) no-repeat;
}

.icon-import {
    background: url(icons/addfolder.gif) no-repeat;
}

.icon-user {
    background: url(icons/major.gif) no-repeat;
}

.icon-excel {
    background: url(icons/excel.gif) no-repeat;
}

.icon-word {
    background: url(icons/word.gif) no-repeat;
}

.icon-flag-red {
    background: url(icons/flag_red.gif) no-repeat;
}

.icon-flag-orange {
    background: url(icons/flag_orange.gif) no-repeat;
}

.icon-flag-green {
    background: url(icons/flag_green.gif) no-repeat;
}

.icon-flag-blue {
    background: url(icons/flag_blue.gif) no-repeat;
}

/*-------扩展按钮样式开始----------------------------------*/

.icon-clear {
    background: url(./icons/clear.gif) no-repeat;
}

.icon-left {
    background: url(./icons/left.gif) no-repeat;
}

.icon-right {
    background: url(./icons/right.gif) no-repeat;
}

.icon-up {
    background: url(./icons/up.gif) no-repeat;
}

.icon-down {
    background: url(./icons/down.gif) no-repeat;
}

.icon-top {
    background: url(./icons/top.gif) no-repeat;
}

.icon-bottom {
    background: url(./icons/bottom.gif) no-repeat;
}

.icon-setting {
    background: url(./icons/setting.gif) no-repeat;
}

.icon-setting2 {
    background: url(./icons/setting2.gif) no-repeat;
}

.icon-refer {
    background: url(./icons/refer.gif) no-repeat;
}

.icon-discard {
    background: url(./icons/discard.gif) no-repeat;
}

.icon-item {
    background: url(./icons/item.gif) no-repeat;
}

.icon-extend-download {
    background: url(./icons/download.gif) no-repeat;
}

.icon-extend-upload {
    background: url(./icons/upload.gif) no-repeat;
}

.icon-extend-edit {
    background: url(./icons/edit.gif) no-repeat;
}

.icon-extend-flowstart {
    background: url(./icons/flowstart.gif) no-repeat;
}

.icon-extend-flowtrace {
    background: url(./icons/flowtrace.gif) no-repeat;
}

.icon-auditing {
    background: url(./icons/auditing.gif) no-repeat;
}

.icon-auditing_pass {
    background: url(./icons/auditing_pass.gif) no-repeat;
}

.icon-auditing_fall {
    background: url(./icons/auditing_fall.gif) no-repeat;
}

.icon-org {
    background: url(./icons/org.gif) no-repeat;
}

.icon-dept {
    background: url(./icons/dept.gif) no-repeat;
}

.icon-view {
    background: url(icons/res_view.png) no-repeat;
}

.icon-share {
    background: url(icons/res_share.gif) no-repeat;
}

.icon-check {
    background: url(icons/res_check.gif) no-repeat;
}

.icon-myfav {
    background: url(icons/myFav.jpg) no-repeat;
}

.icon-public {
    background: url(icons/public.jpg) no-repeat;
}



/*-------扩展按钮样式开始----------------------------------*/

/*------icon 扩展------------------------------*/
