﻿.mini-singlefile {
    display: inline-block;
    height: 21px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.mini-singlefile-border {
    border: 1px solid #B5B8C8;
    display: block;
    height: 19px;
    overflow: hidden;
    padding-left: 1px;
    padding-right: 35px;
    position: relative;
    width: auto;
}


.asLabel .mini-singlefile-border {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: default;
}

.mini-singlefile-buttons {
    clear: both;
    position: absolute;
    right: 0;
    top: 0;
}

.mini-singlefile-input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: hand;
    text-decoration: underline;
    float: left;
    font-family: Verdana;
    font-size: 9pt;
    height: 19px;
    line-height: 19px;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: 100%;
    z-index: 1;
} 

.mini-singlefile-button {
    background: url("/CommonWebResource/Theme/Default/MiniUI/images/buttonedit/btn.gif") repeat-x scroll 0 50% transparent;
    border: 1px solid #B5B8C8;
    padding: 0;
}

.mini-singlefile-remove {
    background: url("/CommonWebResource/Theme/Default/MiniUI/icons/remove.gif") no-repeat scroll 50% 50% transparent;
    display: inline-block;
}

.mini-singlefile-button, .mini-singlefile-remove {
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 1px;
    margin-top: 1px;
    overflow: hidden;
    padding: 1px;
    vertical-align: top;
    z-index: 10;
}

.mini-singlefile-upload {
    background: url("/CommonWebResource/Theme/Default/MiniUI/icons/upload.gif") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 15px;
    overflow: hidden;
    width: 15px;
}  
   