﻿@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
}

img {
    padding: 0;
    margin: 0;
    border: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 12px;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
}
/*顶部start*/
.dingbu {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 75px;
    background-image: url(../images/dingbu.jpg);
    background-repeat: repeat-x;
}

.dingbu2 {
    width: 100%;
    height: 75px;
    background-image: url(../images/dingbu2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.dingbu_top {
    height: 61px;
}

.dingbu_top_left {
    float: left;
}

.dingbu_top_right {
    float: right;
    width: 137px;
    height: 23px;
    margin: 20px 8px 0px 0px;
    background-image: url(../images/images_4.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

    .dingbu_top_right ul {
        list-style: none;
    }

    .dingbu_top_right li {
        float: left;
        line-height: 23px;
        text-align: center;
        width: 67px;
    }

        .dingbu_top_right li img {
            vertical-align: middle;
        }

        .dingbu_top_right li a:link, .dingbu_top_right li a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        .dingbu_top_right li a:hover {
            color: #6FF;
            text-decoration: none;
        }

.dingbu_top_button {
    height: 32px;
    line-height: 32px;
}

    .dingbu_top_button p {
        line-height: 29px;
        text-align: right;
        color: #FFF;
        padding-right: 10px;
    }

    .dingbu_top_button .zuo {
        margin-left: 12px;
    }

    .dingbu_top_button .ming {
        margin: 0 12px;
    }
/*顶部end*/
/*顶部start*/
.zuobian {
    float: left;
    width: 12%;
    height: auto;
    background-color: #ebebeb;
    background-image: url(../images/images_5.jpg);
    background-repeat: repeat-y;
    background-position: right;
}

.daohang {
    height: 36px;
    background-image: url(../images/images_13.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.daohang_left {
    float: left;
    margin-left: 16px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #0b5d99;
}

.daohang_right {
    line-height: 36px;
    float: right;
    padding: 12px 12px 0px 0px;
}

    .daohang_right img {
        border: 0px;
    }

    .daohang_right a:hover {
        background-color: #F00;
    }

.lie {
    height: 36px;
    background-image: url(../images/images_14.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.lie_left {
    float: left;
    line-height: 36px;
    background-image: url(../images/images_8.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    margin-left: 18px;
}

    .lie_left a:link, .lie_left a:visited, .lie_left a:hover {
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }

.lie_right {
    line-height: 24px;
    float: right;
    padding: 12px 12px 0px 0px;
}

    .lie_right img {
        border: 0px;
    }

.lan {
    display: block;
    width: 100%;
    height: 36px;
    background-color: #2770b5;
}

.lan_left {
    float: left;
    line-height: 36px;
    background-image: url(../images/images_9.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    margin-left: 18px;
}

    .lan_left a:link, .lan_left a:visited, .lan_left a:hover {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
    }

.lan_right {
    line-height: 36px;
    float: right;
    padding: 12px 12px 0px 0px;
}

    .lan_right img {
        border: 0px;
    }

.lie2 {
    line-height: 36px;
    background-image: url(../images/images_12.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    margin-left: 34px;
}

    .lie2 a:link, .lie2 a:visited, .lie2 a:hover {
        color: #0a0a0a;
        text-decoration: none;
    }

.lie2_dian {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #FFF;
    background-image: url(../images/images_12.jpg);
    background-repeat: no-repeat;
    background-position: 34px center;
    padding-left: 49px;
}

    .lie2_dian a:link, .lie2_dian a:visited, .lie2_dian a:hover {
        color: #0a0a0a;
        text-decoration: none;
    }
/*顶部end*/
.dibu {
    clear: both;
    width: 100%;
    height: 34px;
    text-align: center;
}

    .dibu p {
        line-height: 34px;
        background-color: #2770b5;
        color: #FFF;
    }

        .dibu p a:link, .dibu p a:visited, .dibu p a:hover {
            color: #FFF;
            text-decoration: none;
        }

.youbian3 {
    width: 85%;
    float: left;
    padding: 15px 15px;
}
