@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "tahoma","Arial";
    margin: 0px;
    color: #333;
    background-image: url(../images/b1.jpg);
    background-position: top;
    background-repeat: repeat-x;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

div, from, span, p, img.ul, li, ol {
    margin: 0;
    border: 0;
}

img {
    border: 0px;
}

ul, ol, li {
    list-style: none;
    text-align: left;
}

input, select, img {
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
}

ol, ul {
    list-style: none;
}

.clear {
    clear: both;
}

a {
    color: #666666;
    text-decoration: none;
}

    a:hover {
        color: #666666;
    }

body {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 12px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
/*顶部start*/
.content {
    width: 99%;
    padding: 5px 5px;
}

.toubu {
    width: 99%;
}

.toubu-left {
    width: 50%;
    float: left;
}

    .toubu-left ul {
        list-style: none;
        margin-top: 11px;
    }

    .toubu-left li {
        float: left;
        font-weight: bold;
        text-align: center;
        line-height: 32px;
        margin-right: 8px;
    }

        .toubu-left li a:link, .toubu-left li a:visited, .toubu-left li a:hover {
            background-image: url(../images/02.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;
            display: block;
            width: 98px;
            height: 32px;
        }

        .toubu-left li span {
            background-image: url(../images/01.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            display: block;
            width: 98px;
            height: 32px;
            color: #FFF;
        }

.toubu-right {
    width: 50%;
    float: right;
    text-align: right;
}

    .toubu-right p {
        padding-right: 3px;
        padding-bottom: 8px;
    }

.kuang {
    border: 1px solid #d4d4d4;
    width: 100%;
    clear: both;
    background-color: #FFF;
}

.xinjian {
    width: 100%;
}

    .xinjian p {
        display: block;
        width: 67px;
        height: 23px;
        color: #FFF;
        margin: 8px 0px 0px 14px;
        *margin: 8px 0px 0px 8px;
    }

.anniu01 {
    color: #7c7c7c;
    background-color: #FFFFFF;
    background-image: url(../images/04.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 23px;
    width: 67px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.xinjian-xia {
    width: 100%;
}

.kuang_xian {
    margin: 15px 14px 15px 14px;
    ;
    line-height: 25px;
}

.kuang_beijing {
    background-image: url(../images/images_26.jpg);
    background-repeat: repeat-x;
    height: 24px;
    font-weight: bold;
}

.djgm_sx_xia {
    clear: both;
    text-align: center;
    margin: 8px 0px 0px 0px;
    _margin: 0px 0px 0px 0px;
    padding-bottom: 15px;
    width: 100%;
}

    .djgm_sx_xia p {
        line-height: 25px;
    }

    .djgm_sx_xia a {
        margin: 0px 5px;
    }

    .djgm_sx_xia p a:link, .djgm_sx_xia p a:visited, .djgm_sx_xia p a:hover {
        color: #424242;
        text-decoration: none;
        line-height: 25px;
        padding: 4px 8px;
    }

    .djgm_sx_xia span {
        color: #333333;
        text-decoration: none;
        line-height: 20px;
        padding: 4px 8px;
        background-color: #f5f4f7;
    }

.anniu02 {
    color: #7c7c7c;
    background-color: #FFFFFF;
    background-image: url(../images/04.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 23px;
    width: 67px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.banji {
    width: 99%;
    margin: 8px 0px 8px 14px;
}

.banji-kuang {
    border: 1px solid #d4d4d4;
}

.fabu {
    width: 99%;
}

    .fabu p {
        line-height: 20px;
        padding-left: 15px;
        margin: 25px 0px;
        vertical-align: middle;
    }

.fabu-kuang {
    border: 1px solid #d4d4d4;
    width: 220px;
    line-height: 20px;
    height: 20px;
    margin-left: 5px;
}

.fabu-xia {
    width: 99%;
}

    .fabu-xia p {
        line-height: 20px;
        padding-left: 70px;
        margin: 25px 0px;
    }

.fabu01 {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url(../images/04.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 23px;
    width: 67px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.kuang2 {
    border: 1px solid #d4d4d4;
    width: 100%;
    clear: both;
    background-color: #ffffff;
}

.chakan {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #d7d0d4;
    background-color: #f5f5f5;
}

.chakan-left {
    width: 50%;
    float: left;
}

    .chakan-left p {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        margin: 8px 0px 0px 25px;
    }

    .chakan-left img {
        vertical-align: middle;
        margin-right: 5px;
    }

.chakan-right {
    width: 45%;
    float: right;
    text-align: right;
    padding-right: 12px;
}

    .chakan-right p {
        padding-right: 3px;
        padding-top: 8px;
        float: right;
    }

.zhuti {
    width: 73%;
    clear: both;
    margin-top: 15px;
    margin-left: 15px;
}

.zhuti-left {
    float: left;
    display: inline;
}

    .zhuti-left p {
        line-height: 25px;
        display: inline;
    }

.zhuti-right {
    float: left;
    display: inline;
    width: 93%;
}

    .zhuti-right p {
        line-height: 25px;
        display: inline;
    }

.zhu1 {
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    height: 27px;
    margin: 20px 0px;
}

    .zhu1 ul {
        list-style: none;
        padding-left: 12px;
    }

    .zhu1 li {
        background-image: url(../images/07.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 80px;
        height: 27px;
        float: left;
        margin: 0px 5px;
        text-align: center;
        line-height: 27px;
        color: #1c76c4;
    }

        .zhu1 li a {
            color: #000;
        }

.zhu2 {
    width: 73%;
    border-bottom: 1px dashed #d4d4d4;
    margin: 20px 0px;
}

.zhu2-nei {
    width: 99%;
}

    .zhu2-nei p {
        line-height: 25px;
        margin-left: 14px;
    }

    .zhu2-nei ul {
        list-style: none;
        margin-left: 75px;
    }

    .zhu2-nei li {
        line-height: 25px;
    }

.zhu2-hui {
    color: #666666;
}

.dianping {
    width: 99%;
}

.dianping-nei {
    line-height: 25px;
}

    .dianping-nei p {
        line-height: 25px;
        margin-left: 70%;
        color: #333333;
    }

        .dianping-nei p a:visited, .dianping-nei p a:hover, .dianping-nei p a:link {
            color: #333;
        }

.dianping-anniu {
    color: #333333;
    background-color: #FFFFFF;
    background-image: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 29px;
    width: 68px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.dianping3 {
    margin-left: 83%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dianping-neirong {
    width: 84%;
    border: 1px solid #d3d3d3;
    margin-left: 73px;
    margin-top: 20px;
    height: 200px;
}

.dianping-neirong4 {
    width: 84%;
    border: 1px solid #d3d3d3;
    clear: both;
    margin-top: 20px;
    height: 200px;
}

.xuxian {
    width: 100%;
    border-bottom: 1px dashed #d4d4d4;
    margin: 20px 0px;
}

.dianping-neirong2 {
    width: 84%;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    height: 200px;
}

.fabu2 {
    width: 98%;
    vertical-align: top;
}

    .fabu2 p {
        line-height: 20px;
        padding-left: 15px;
        margin: 15px 0px;
        vertical-align: middle;
    }

.fabu-kuang2 {
    border: 1px solid #d4d4d4;
    width: 306px;
    line-height: 20px;
    height: 20px;
    margin-left: 5px;
}

.fabu-kuang3 {
    border: 1px solid #d4d4d4;
    width: 680px;
    line-height: 20px;
    height: 200px;
    margin-left: 5px;
    vertical-align: text-top;
}

.anniu8 {
    width: 68px;
    height: 29px;
    background-image: url(../images/images_45.jpg);
    border: medium none;
    cursor: pointer;
    color: #000000;
}

.yonghu {
    width: 160px;
    background-image: url(../images/11.jpg);
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #e3e3e3;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 999px;
    left: 84%;
    top: 35%;
}

    .yonghu h1 {
        font-size: 12px;
        font-weight: bold;
        color: #666666;
        text-align: center;
        height: 27px;
        line-height: 27px;
    }

    .yonghu p {
        line-height: 25px;
        padding: 0px 12px;
    }

        .yonghu p a:hover {
            font-weight: bold;
        }

.tianjia2 {
    color: #4e515f;
    background-color: #FFFFFF;
    background-image: url(../images/13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 29px;
    width: 80px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin-left: 15px;
}

.lie {
    width: 100%;
    clear: both;
}

.liebiao {
    width: 100%;
    background-color: #f2f5fa;
    height: auto;
    margin-top: 28px;
    clear: both;
    display: block;
}

.liebiao5 {
    position: absolute;
    float: left;
    width: 104px;
    background-image: url(../images/14.png);
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 28px;
    color: #ffffff;
    margin-left: 63px;
}

    .liebiao5 p {
        padding-left: 35px;
        text-align: left;
        font-weight: bold;
    }

.lie-you {
    display: inline;
}

.liebiao3 {
    padding-left: 170px;
    padding-right: 8px;
}

    .liebiao3 ul {
        list-style: none;
    }

    .liebiao3 li {
        line-height: 28px;
        margin-left: 25px;
        float: left;
    }

    .liebiao3 img {
        vertical-align: middle;
        margin: 0px 3px;
    }

    .liebiao3 li a:hover {
        color: #333;
        text-decoration: none;
    }
/*弹出框start*/
.da_tanchu {
    width: 516px;
    position: absolute;
    z-index: 999px;
    left: 692px;
    top: 107px;
}

.da_tanchu_top {
    width: 516px;
    height: 48px;
    background-image: url(../images/images_46.png);
    _background-image: url(../images/images_46.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.da_tanchu_top_left {
    float: left;
}

    .da_tanchu_top_left p {
        line-height: 34px;
        padding: 14px 0px 0px 22px;
        color: #FFF;
        font-size: 14px;
        font-weight: bold;
    }

.da_tanchu_top_right {
    float: right;
}

    .da_tanchu_top_right img {
        border: 0px;
        padding: 19px 22px 0px 0px;
        display: block;
    }

.baocun_top_right2 {
    float: right;
    width: 130px;
    height: 28px;
    line-height: 28px;
    padding-left: 32px;
    background-image: url(../images/images_52.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

    .baocun_top_right2 P {
        float: left;
        padding: 0px 10px 0px 15px;
    }

        .baocun_top_right2 P a:link, .baocun_top_right2 P a:visited {
            color: #000000;
            text-decoration: none;
        }

        .baocun_top_right2 P a:hover {
            color: #fa7b02;
            text-decoration: none;
        }

.da_tanchu_middle {
    width: 516px;
    background-image: url(../images/images_47.png);
    _background-image: url(../images/images_47.gif);
    background-position: center;
    background-repeat: repeat-y;
}

.da_limian {
    width: 516px;
    line-height: 35px;
    padding: 20px 0px 0px;
}

.wangluo3 {
    margin-left: 50px;
    *margin-left: 25px;
}

.da__border {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 220px;
}

.da__border001 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 158px;
}

.shouquan__border {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 100px;
}

.da__border2 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 90px;
}

.da__border22 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 115px;
}

.da__border3 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 70px;
}

.da__border30 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 130px;
}

.da__border4 {
    border: 1px solid #cccccc;
    margin: 0px 4px;
    height: 20px;
    width: 110px;
}

.da_buttom5 {
    width: 83px;
    height: 26px;
    background-image: url(../images/images_49.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    color: #FFF;
}

.da_xian7 {
    padding-left: 9px;
    margin: 14px 0px 0px;
}

.da_middle {
    width: 400px;
    height: 78px;
    padding: 5px 0px 0px 0px;
}

    .da_middle ul {
        padding: 20px 0px 30px 183px;
        *padding-left: 120px;
    }

    .da_middle li {
        float: left;
        height: 50px;
        margin: 0px 5px;
        list-style: none;
    }

.da_tanchu_buttom {
    width: 516px;
    height: 31px;
    background-image: url(../images/images_48.png);
    _background-image: url(../images/images_48.gif);
    background-position: center top;
    background-repeat: no-repeat;
}
/*弹出框end*/
